@model StreamLinerEntitiesLayer.HREntities.HRPenalty

@{
    ViewData["Title"] = "Details";
    
}



<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
       
        
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.HRPenaltyId"><i class="fa fa-eye"></i></a> |
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
