@model IEnumerable<StreamLinerEntitiesLayer.HREntities.HROverTimes>

@{
    ViewData["Title"] = "Index";
    
}


<p>
    <a class="btn btn-primary" asp-action="Create"> <i class="fa fa-plus"></i>   New OverTime   </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OverTimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTimeValue)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Partner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OverTimeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverTimeValue)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.OverTimesId"><i class="fa fa-eye"></i></a> 
                </td>
                @*
            <a asp-action="Details" class="btn btn-info" asp-route-id="@item.HRBenefitsId">Details</a> |
            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.HRBenefitsId"><i class="fa fa-trash"></i></a>

            *@
            </tr>
        }
    </tbody>
</table>
